.social {
    display: flex;
    gap: 1rem;
    margin-left: 1.75rem;
    margin-top: 0.25rem;
    height: fit-content;
}

/* .social {
    padding-top: 0.5rem;
    margin-left: 1.75rem;
    gap: 0.25rem;
    height: fit-content;
} */

@media (max-width: 680px) {
    .social {
        padding-top: 0;
        margin-left: 0;
        height: fit-content;
    }

    /* .social {
        margin-left: 0;
        padding-top: 0;
        height: fit-content;
    } */
}