@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '--font-space-grotesk';
  font-weight: 600; /*(bold)*/
  font-style: normal;
  src: url('../public/fonts/SpaceGrotesk-Bold.ttf');
  src: url('../public/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}
@font-face {
  font-family: '--font-dancing-script';
  font-weight: 700; /*(bold)*/
  font-style: normal;
  src: url('../public/fonts/DancingScript-Bold.ttf');
  src: url('../public/fonts/DancingScript-Bold.ttf') format('truetype');
}
@font-face {
  font-family: '--font-nerko-one-regular';
  font-weight: 400; /*(bold)*/
  font-style: normal;
  src: url('../public/fonts/NerkoOne-Regular.ttf');
  src: url('../public/fonts/NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'almoni-dl';
  font-weight: 700; /*(bold)*/
  font-style: normal;
  src: url('https://assets.kalir.co.il/fonts/almoni-dl-aaa-700.eot');
  src: url('https://assets.kalir.co.il/fonts/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'), 
      url('https://assets.kalir.co.il/fonts/almoni-dl-aaa-700.woff') format('woff'), 
      url('https://assets.kalir.co.il/fonts/almoni-dl-aaa-700.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --topnav-height: 60px;
  --vh-100: 100svh;
  --vw-100: 100%;
  --padding-height: 40px;
  --padding-width: 150px;
  --header-font-size: 24px;
  --second-text-color: #c8bdb0;
  --main-font: '--font-space-grotesk';
  --secondary-font: 'almoni-dl';
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus,
*:focus-visible,
*:focus-within {
  outline: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

select {
  outline: none;
  background: #fff;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  cursor: pointer;
}

/* select > option {
  outline: none;
  padding-block-end: 0;
  padding-inline: 0;
  appearance: none;
  background: #fff;
} */

select:focus, section > input:focus {
  outline: none;
}
select * {
  background: red;
}


/* Style the select element */
/* .filter-selector select {
  background-color: red;
  color: green;
  border: 1px solid #333;  
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
} */

/* Style the option elements */
/* .filter-selector select option {
  background-color: red;
  color: green;
} */

/* Optional: Style the button if you want to make it consistent */
/* .filter-selector .filter-btn {
  background-color: #007bff;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */


/* Style the select element */
.filter-selector select {
  color: #555;
  /* border: 1px solid #ccc;  */
   /* Optional: to give a border to the select box */
  padding: 0.5rem 0;
  font-size: 1.15rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
select > * {
  background-color: red;
}

/* Style the option elements */
.filter-selector select option::slotted {
  background-color: yellow;
  color: blue;
}

/* Optional: Style the button if you want to make it consistent */
.filter-selector .filter-btn {
  background-color: #171717;
  color: white;
  padding: 0.35rem 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/* Disable blue highlight on button click */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* You can do the same for links */
a {
-webkit-tap-highlight-color: transparent;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



/* HOTELS WRAPPER */

.hotels-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  row-gap: 30px;
  margin-top: 25px;
  padding: 40px 150px;
  background-color: #FBFDFB;
  height: fit-content;
}

.resorts-and-hotels-title {
  font-size: 26px;
  color: #383636;
  font-weight: 800;
  font-family: 'Assistant', sans-serif;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  flex-grow: 1;
  padding: 35px;
  background-color: #fff;
  border: none;
  margin: 2px;
  transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

.filter-button:focus {
  outline: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.filter-button img {
  position: relative;
  height: 15px;
  width: 15px;
}

@keyframes bounce-size {
  0% {
      scale: 1;
  }
  50% {
      scale: 1.1;
  }
  100% {
      scale: 1;
  }
}

.filter-button {
  border-radius: 2px;
}

html[lang="en-US"] .filter-button:first-child {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

html[lang="he-IL"] .filter-button:first-child {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

html[lang="en-US"] .filter-button:last-child {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

html[lang="he-IL"] .filter-button:last-child {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

html[lang="he-IL"] .filter {
  direction: rtl;
}

html[lang="en-US"] .filter {
  direction: ltr;
}


@media screen and (max-width: 540px) {
  .hotels-wrapper {
      padding: 0;
      padding: 40px 10%;
  }
  .filter-button {
      padding: 15px;
  }
}

#media {
  background-color: #fff;
}

/* .main {
  max-width: 100%;
} */

.footer-th {
  font-size: 1.35rem;
  font-weight: bold;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
}


/* REGION */

.region,
.affiliate-wrapper,
.affiliate-header,
.affiliate-content {
    direction: rtl;
}

.region {
    gap: 20px;
}

.region-label {
    font-size: 16px;
    padding: 3px 0;
    color: #383636;
    font-weight: 800;
    font-family: 'Assistant', sans-serif;
}

.affiliates-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}


@keyframes slide-cards {
    0% {
        opacity: 0;
        scale: .95;
        transform: translateX(-10px);
    }
    50% {
        opacity: .75;
    }
    100% {
        animation: appear linear;
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 540px) {

    .affiliates-wrapper {
        flex-direction: column;
    }
    .affiliate-wrapper-content {
        width: 100%;
        aspect-ratio: 4/3;
    }

}

/* slider section */

.slider {
  width: 100%;
  height: calc(var(--height) * 2 + var(--height));
  overflow: hidden;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 60s linear infinite;
  transition: filter 1.5s;
  animation-delay: calc( (60s / var(--quantity)) * (var(--position) * -1)) !important;
}

.slider .list .item img {
  width: 100%;
  height: 38rem;
  border-radius: 16px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.slider .item {
  animation: reversePlay 60s linear infinite;
}

.list .item img {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.enjoy-our-vaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 7.5vh;
  padding: 0 150px 0px 150px;
  background-color: #FBFDFB;
}

.vacation-photos {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}

.vacation-photos-title {
  margin-bottom: 25px;
  font-weight: 500;
  margin-top: -45px;
  font-size: 36px;
  color: #383636;
  font-weight: 800;
  font-family: 'Assistant', sans-serif;
}


@keyframes autoRun {
  from {
      left: 100%;
  }
  to {
      left: calc(var(--width) * -1);
  }
}

@keyframes reversePlay {
  from {
      left: calc(var(--width) * -1);
  }
  to {
      left: 100%;
  }
}

.rtl {
  direction: rtl;
}

.layout-wrapper {
  display: flex;
  height: 100vh;
  position: fixed;
  left: -245px;
  width: calc(50px + 225px);
  flex-direction: row-reverse;
  align-items: center;
}

.links-layout {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.5rem;
  padding-top: 4rem;
  border: 2px solid #fff;
  height: calc(100vh - 1.5rem);
  font-size: 1rem;
  z-index: 99;
  gap: 1rem;
  max-width: 150px;
}

.side-toggle-svg-wrapper {
  left: 0rem;
  height: calc(100vh - 7.5rem);
  width: 14rem;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-toggle-svg {
  position: absolute;
  left: 11rem;
  stroke: #aaa;
  transform: scale(2);
  rotate: 90deg;
}

.link {
  padding: 0.6rem 1rem;
  transition: .2s ease-in-out;
  min-width: 135px;
  min-height: 50px;
  text-align: center;
  z-index: 3;
}
.link:hover:not(.active-link) {
  font-size: 1.05rem;
}

.active-link {
  color: #000;
  background: #fff;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35rem 0rem;
  font-size: 1rem;
  border-radius: 0.15rem;
}

.about-us {
  z-index: 1;
}

.shuffle-grid-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  bottom: 0.5rem;
}

.shuffle-title {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  padding-bottom: 0.5rem;
}

.shuffle-square > div {
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

html[lang="en-US"] .about-us-title {
  direction: ltr;
}
html[lang="he-IL"] .about-us-title {
  direction: rtl;
  font-size: 2.3rem;
  line-height: 3rem;
}

.about-us-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.065), rgba(0, 0, 0, 0.5)) content-box;
  z-index: 2;
}

.about-us-wrapper,
.about-us-subtitle,
.about-us-content,
.about-us-pages,
.page-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
}

.about-us-wrapper {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: var(--main-font);
  row-gap: 1.65rem;
}
.about-us-title {
  font-size: 3rem;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
}
.about-us-subtitle {
  text-align: center;
  margin: 0 12.5rem;
  flex-wrap: wrap;
  font-size: 1.5rem;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}
.about-us-content {
  margin: 0 12.5rem;
  font-size: 1.15rem;
  font-weight: 400;
  text-align: left;
  z-index: 4;
}
.about-us-pages {
  width: 100%;
  padding: 0 12.5rem;
  justify-content: space-between;
}
.page-tile > img {
  border-radius: 10px;
}
.page-tile {
  position: relative;
}
.page-label {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: #fff;
  font-size: 2rem;
}
.page-btns-wrp {
  transform-style: preserve-3d;
  perspective: 1000;
  
}
.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in-out;
  background: white;
  color: #000;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.page-btn:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}


/* LOGO ANIMATION */

.logo-loader-wrapper {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* photos section logo */

.svg-logo-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  position: relative;
  transition: .5s;
  top: 0;
  z-index: 1;
}

.svg-logo-loader-wrapper::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.svg-logo-loader-wrapper:hover::before {
  width: 100px;
  left: 60px;
}

.svg-logo-loader-wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  transition: .5s;
}

svg.svg-logo-loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 225px);
  transform: translate(0, -50%);
  stroke: #c8bdb0;
  fill: #c8bdb0;
  stroke-width: 30px;
  width: 425px !important;
  height: 200px;
  stroke-dasharray: 4000;
  stroke-dashoffset: -4000;
  transition: .5s ease-out;
}

.svg-logo-loader-wrapper svg {
  transition: ease-in-out;
  animation: paint-logo 1s linear both;
  fill: #c8bdb0;
  opacity: .1;
}
html[lang="en-US"] .svg-logo-loader-wrapper svg {
  margin-top: -35px;
}
html[lang="he-IL"] .svg-logo-loader-wrapper svg {
  margin-top: -15px;
  margin-top: -55px;
}

@keyframes paint-logo {
  0% {
      stroke-dashoffset: 0;
      fill: transparent;
      stroke-width: 12.5;
  }
  100% {
      stroke-dashoffset: 0;
      fill: #c8bdb0;
      stroke-width: 1;
      opacity: 1;
      
  }
}

/* MAP SECTION */

.hover-the-map-txt {
  margin-bottom: 2rem;
  font-family: var(--main-font);
  font-size: 3.25rem !important;
}

.map-photo {
  width: 100%;
  height: 100%;
  z-index: 5;
  /* opacity: 0; */
  position: absolute;
  animation: display-image linear both;
  animation-timeline: view();
  animation-range: entry 0px 175px;
  visibility: visible;
}

@keyframes display-image {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.map-photo:hover {
  visibility: hidden;
}

#map {
  height: 100%;
  width: 100%;
  left: 1px;
  top: 0px;
  z-index: 12;
  position: absolute !important;
  transition: .7s ease-in-out;
  opacity: 0;
  width: calc(100% - 287.5px);
  height: 91.5%;
}

#map:hover {
  opacity: 1;
}

#map > .map-responsive {
  height: calc(100vh - 24px);
  width: calc(100vw - 26px);
  position: relative;
  border: none;
}
#map > .map-responsive iframe {
  left: 0;
  top: 0;
  border: 0;
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  z-index: 1;
  border-radius: 12px;
}

/* MAGNETIC ICONS */


.magnetic-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  position: relative;
  top: 3rem;
  padding: 1.75rem 0;
  z-index: 1;
  min-height: 160px;
  margin-bottom: 375px;
}

.social-title {
  position: absolute;
  top: 0rem;
  font-family: var(--main-font);
  width: 100%;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  background-color: #fff;
  z-index: 4;
  font-size: 3rem;
}
html[lang="en-US"] .social-title {
  font-size: 3rem;
}
html[lang="he-IL"] .social-title {
  font-size: 2.5rem;
}

.magnetic-container {
    display: flex;
    gap: 7.5rem;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    z-index: 9;
}
.magnetic-container > a > svg {
    height: 100px;
    fill: #c8bdb0;
    transition: fill 0.2s;
    cursor: pointer;
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.15));
}
.magnetic-container > a > svg:hover{
    fill: #ec4e39;
}
#nav-toggle-svg {
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.35));
  padding-bottom: 5px;
  stroke: #444;
}
#linktree {
  stroke: #888;
  stroke-width: 2px;
}
.navbar-ul {
  position: relative;
  display: flex;
  width: fit-content;
  background: #fff;
  border: 2px solid black;
}
.reveal-links-wrapper {
  display: flex;
}
html[lang="en-US"] .navbar-ul,
html[lang="en-US"] .page-btns-wrp {
  direction: ltr;
}
html[lang="he-IL"] .navbar-ul,
html[lang="he-IL"] .page-btns-wrp {
  direction: rtl;
}

html[lang="he-IL"] .navbar-ul > a > li {
  font-size: 1.25rem;
  padding: 0.725rem 1.6rem;
}

html[lang="en-US"] .section-content-para-1,
html[lang="en-US"] .section-content-para-2 {
  font-size: 1.25rem;
}
.section-content h2 {
  line-height: 45px;
}
html[lang="en-US"] .section-content h2 {
  direction: ltr;
}
html[lang="he-IL"] .section-content h2 {
  direction: rtl;
}
.instagram-icon-btn {
  display: flex;
  gap: 3px;
  font-weight: bold;
  font-size: 1.1rem;
  max-height: 28px !important;
}
html[lang="en-US"] .vacation-gallery {
  direction: ltr;
}
html[lang="he-IL"] .vacation-gallery {
  direction: rtl;
}
.main-header {
  position: relative;
  font-family: var(--secondary-font);
  top: 3.15rem;
}
html[lang="en-US"] .main-header {
  direction: ltr;
}
html[lang="he-IL"] .main-header {
  direction: rtl;
}
.button-lightning {
  position: relative;
  padding-top: 10rem;
}
html[lang="en-US"] .button-lightning {
  top: 0.5rem;
  top: -0.5rem;
}
html[lang="he-IL"] .button-lightning {
  top: 1.85rem;
  top: 0.5rem;
}

/* .lang {
  margin-right: 2.25rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400 !important;
  font-family: var(--secondary-font);
  background-color: #000;
  border-radius: 1.15rem;
  text-align: center;
  min-width: 59.8px !important;
  padding: 0rem 0.65rem;
  border: 8.5px solid #000;
  transition: .3s ease-in-out;
}
.lang:hover {
  background-color: #fff;
  color: #000;
  border: 8.5px solid #fff;
} */
/* .lang:focus {
  outline: none;
} */

.section-content-h,
.hover-map {
  font-family: var(--secondary-font);
  font-size: 1.85rem !important;
}
/* .decleration-wrapper {
  position: relative;
  height: 12.5rem;
}
.decleration {
  position: sticky;
  top: 0;
  text-align: center;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  padding: 0 10rem;
  padding-top: 3rem;
  width: 100%;
  display: flex;
  font-size: 1.35rem;
}
html[lang="he-IL"] .decleration {
  direction: rtl;
  font-size: 1.5rem;
}
html[lang="en-US"] .decleration {
  direction: ltr;
  font-size: 1.35rem;
} */

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
  gap: 1rem;
}

.stars-button {
  display: flex;
  gap: .5rem;
  cursor: pointer;
  padding: 10px 50px;
  margin: 5px 0;
  border-radius: 8px;
  transition: .5s ease-in-out;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.star-icon {
  fill:rgba(0, 0, 0, 0.05);
  width: 20px;
  margin-top: -2.5px;
}
.stars-button:hover > .star-icon:nth-child(1) {
  animation: active-5 .5s linear forwards;
}
@keyframes icon-rotate {
  0% { rotate: 17.5deg; }
  50% { rotate: -17.5deg; }
  100% { rotate: 0; }
}
.stars-button:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  animation: resize .5s ease forwards; 
}
@keyframes resize {
  0% { scale: 1; }
  50% { scale: 1.05; }
  100% { scale: 1; }
}

.hotels-title {
  font-family: var(--main-font);
  font-size: 3rem;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
html[lang="he-IL"] .hotels-title {
  font-size: 2.5rem;
  padding: 0.25rem 0;
}
.hotels-title-wrapper {
  max-height: 107px;
}
.region-title {
  position: sticky;
  top: 6.1rem;
  font-family: var(--main-font);
  font-size: 1.5rem;
  color:#171717;
  width: 100%;
  background-color: #fff;
  padding-bottom: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.affiliate-card,
.card-title {
  display: flex;
  align-items: start;
}
.affiliate-card {
  font-family: var(--main-font);
  flex-direction: column;
  border-radius: 12px;
  gap: .5rem;
  height: fit-content;
  /* width: 100%; */
  opacity: 0;
}
.stars-wrapper > .star-icon {
  fill: #FFED76;
  width: 17.5px;
  filter: drop-shadow(1.25px 2.5px 2.5px rgba(0, 0, 0, 0.15));
}
.card-title {
  font-size: 1.1rem;
}
.card-content {
  display: flex;
  text-align: center;
  font-size: 0.95rem;
  min-height: 140px;
  height: fit-content;
  font-weight: 300;
  padding: 0 0.5rem;
}
html[lang="en-US"] .card-content {
  direction: ltr;
}
html[lang="he-IL"] .card-content {
  direction: rtl;
}

html[lang="en-US"] .instagram-icon-btn {
  direction: ltr;
}
html[lang="he-IL"] .instagram-icon-btn {
  direction: ltr;
}

.affiliates-row {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  margin: 0 9rem;
  padding: 1rem;
}
html[lang="en-US"] .affiliates-row {
  text-align: left;
  justify-content: flex-end;
}
html[lang="he-IL"] .affiliates-row {
  text-align: right;
}

@keyframes active-5 {
  15% {
    transform: rotate(180deg) scale(1.1);
  }
  30% {
    transform: rotate(360deg) scale(1.2);
  }
  70% {
    transform: rotate(360deg) translateY(14%) scaleY(.72);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%,
  5%,
  15%,
  100% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(.4);
  }
}
@keyframes right {
  0%,
  100% {
    transform-origin: 17% 100%;
  }
  50% {
    transform: rotate(-12deg) skewX(12deg);
  }
}

@keyframes left {
  0%,
  100% {
    transform-origin: 83% 100%;
  }
  50% {
    transform: rotate(12deg) skewX(-12deg);
  }
}

/* Shine button */

.radial-gradient { /* if at is 0% - it means that the center of the radial gradient is at the top left corner of the button */
  background: radial-gradient(
    circle at 50% 0%,
    rgba(250, 250, 250, 0.05) 0%,
    transparent 60%),
    rgba(15, 15, 15, 1); /* 0% indicate that this color will be at the very center of the gradient */
}


.linear-mask {
  mask-image: linear-gradient(
   -75deg,
   white calc(var(--x) + 20%),
   transparent calc(var(--x) + 30%),
   white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) 20%, calc(var(--x) + 20%)
    rgba(255, 255, 255, 0.5) 25%, calc(var(--x) + 25%)
    rgba(255, 255, 255, 0.1) 100% calc(var(--x) + 100%),
  );
  mask: linear-gradient(black, black) content-box
        linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box
        linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.about-section-wrapper {
  overflow: hidden;
}

.about-section-wrapper::before {
  content: "";
  border-radius: 1.85rem;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.about-section {
  z-index: 1;
  position: relative;
}


/* FLIP CARD */

.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front {
  display: flex;
  justify-content: center;
}
.card-front-mask,
.card-back-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  z-index: 0;
}
.card-front-mask {
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.25)) content-box;
}
.card-back-mask {
  cursor: none !important;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.05)) content-box;
}
.front-hotel-name-wrapper {
  overflow: hidden;
  width: 100%;
}
.card-front-hotel-name {
  font-weight: 600;
  z-index: 2;
  position: absolute;
  top: 2.75rem;
  width: 100%;
  -webkit-text-stroke: 0.65px #777;
  font-size: 1.95rem;
  padding: 0 1rem;
  line-height: 32px;
  text-align: left;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
  /* text-shadow: #FC0 1px 0 10px; */
  /* text-shadow: 5px 5px #558ABB; */
  /* text-shadow: red 2px 5px; */
  /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.flipped-card {
  backface-visibility: visible;
}
.flip-card-back-img {
  webkit-filter: blur(1.85px); /* Chrome, Safari, Opera */
  filter: blur(1.85px);
}
.flip-card-back-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  position: relative;
  padding: 1rem;
  z-index: 9;
  border-radius: 6px;
  color: #fff;
}
.card-header {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  -webkit-text-stroke: 0.65px #ccc;
  text-shadow: 0.65px 0.65px 0.65px black;
}
.card-content {
  font-size: 0.95rem;
  line-height: 18px;
  -webkit-text-stroke: 0.05px #ccc;
  text-shadow: 0.25px 0.25px 0.25px black;
}
html[lang="he-IL"] .card-content {
  text-align: right;
}
html[lang="en-US"] .card-content {
  text-align: left;
}
html[lang="he-IL"] .score-wrapper {
  direction: rtl;
}
html[lang="en-US"] .score-wrapper {
  direction: ltr;
}
.score-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.25rem;
}
.star-score {
  position: relative;
}
html[lang="he-IL"] .star-score {
  left: 0.65rem;
  
}
html[lang="en-US"] .star-score {
  right: 0.65rem;

}
.google-score {
  display: flex;
  font-size: 0.85rem;
  gap: 0.25rem;
  text-align: right;
  width: 100%;
  padding: 0 0.5rem;
}
.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}


/* PIXEL BACKGROUND */

.pixel-background {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 8;
  pointer-events: none;
  transform-origin: bottom;
  top: 0;
  left: 0;
}
.pixel-column {
  width: 5vw;
  height: 100%;
}
.pixel-block {
  height: 5vw;
  width: 100%;
  background-color: black;
}
.slide-in {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top;
  transform-origin: bottom;
  background-color: #0f0f0f;
  background-color: #fff;
  z-index: 8;
}
.main-logo {
  transform: scale(2.5);
}
.slide-out {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transform-origin: top;
  background-color: #0f0f0f;
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.created-by,
.debrand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.debrand-logo {
  font-size: 0.95rem;
}
.rights-reserved {
  font-size: 1rem;
  display: flex;
}

.disabled {
  transition: .3s ease-in-out;
}
.disabled:hover {
  content: '';
  cursor: not-allowed;
}


.horizontal-scroll-title {
  font-family: var(--main-font);
  font-size: 3rem;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-card-content {
  display: flex;
  top: 7.5rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 15%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}

.rest-link > a > img {
  scale: 0.035;
  top: -95%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.horizontal-scroll {
  padding-top: 1.5rem;
}

.horizontal-scroll-group {
  height: 96.5vh;
  width: 76vw;
}

.horizontal-scroll-group > div > p {
  position: relative;
  top: -5rem;
}

.weekly-events {
  margin: 3rem 0;
}

#events {
  position: relative;
  margin-top: -3rem;
}
.filter-is-on {
  position: absolute;
  border-radius: 50%;
  background-color: green;
  left: 0.5rem;
  top: 0.75rem;
  height: 0.65rem;
  width: 0.65rem;
  visibility: hidden;
}
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  width: fit-content;
  position: relative;
  top: -2.25rem;
  right: 33.5vw;
  z-index: 20;
}
.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  left: -2.85rem;
  width: 8rem;
  padding: 0.25rem;
  border-radius: 6px;
  position: absolute;
  background-color: #fff;
  color: #555;
  opacity: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.filter-icon > img {
  opacity: 0.7;
  position: relative;
  top: 1rem;
}
.filter-selector {
  display: flex;
  align-items: flex-start;
  direction: ltr;
  width: fit-content;
  column-gap: 1rem;
  position: absolute;
  left: 0rem;
  top: -0.25rem;
  visibility: visible;
}
select {
  color: #444;
  background-color: #fff;
  max-width: 350px;
}
select:focus-visible {
  outline: none;
}
/* select::placeholder {
  font-size: 1.5rem;
} */
.filter-btn {
  margin-top: 0.35rem;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 0.85rem;
}

select:focus-visible {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Disable blue highlight on button click */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* You can do the same for links */
a {
-webkit-tap-highlight-color: transparent;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar-ul > a > li {
  padding: 0.725rem 1.6rem;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.back-btn {
  margin-bottom: 1rem;
  position: fixed;
  left: 2rem;
  top: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.dot {
  bottom: -0.35rem;
  position: relative;
}

.fit-txt-carousal {
  bottom: -35rem !important;
  margin-top: -20rem !important;
}
.fix-txt-socials {
  margin-top: -15rem !important;
}

@media (max-width: 1080px) {

  .shuffle-grid-wrapper {
    display: none;
  }

  html[lang="he-IL"] .navbar-ul {
    max-width: 474.51px;
  }

  html[lang="en-US"] .navbar-ul {
    max-width: 586.82px;
  }
  .navbar-ul > a {
    max-width: fit-content;
  }
  .navbar-ul > a > li {
    padding: 0.725rem 1.6rem;
  }
  .main-header {
    font-size: 1.75rem !important;
    line-height: 2rem !important;
  }
  .hover-the-map-txt {
    margin-bottom: -2rem;
    font-size: 3.75rem !important;
  }
  .hover-the-map-txt > h3 {
    font-size: 2.85rem !important;
  }
  .hero-content {
    padding: 0 5%;
    padding-top: 3.5rem;
  }
  .navbar-ul {
    max-height: 3.4rem;
    min-height: 1.75rem;
  }
  .affiliates-row {
    margin: 0 2.5rem;
  }

  .button-lightning {
    padding-top: 0.5rem;
    font-size: 1.65rem;
  }

  html[lang="he-IL"] .button-lightning {
    top: 2.5rem;
  }
  html[lang="en-US"] .button-lightning {
    top: 2.5rem;
  }

  .section-content-para {
    grid-auto-columns: span 5 / span 5 !important;
  }

  html[lang="he-IL"] .section-content,
  html[lang="en-US"] .section-content {
    gap: 2.75rem;
  }

  /* html[lang="he-IL"] .decleration,
  html[lang="en-US"] .decleration {
    padding: 1rem 3rem 0 !important;
  } */
  /* .blink-emoji {
    right: 7.5rem !important;
  } */
  /* .decleration {
    display: none;
  } */
  .hotels-title {
    font-size: 1.45rem;
  }
  .region-title {
    top: 3.85rem;
    font-size: 1.15rem;
    padding-bottom: 0.75rem;
  }
  .magnetic-container {
    scale: 0.75;
  }
  .screen-fix-txt > span {
    bottom: 25px !important;
  }
  .about-us > section {
    gap: 0 !important;
  }

  #thaiislands {
    position: relative;
    top: 8rem;
    font-size: 1.25rem !important;
    left: -23.5vw;
  }
  .about-us-title {
    font-size: 1rem !important;
    margin-top: 1rem;
  }
  .page-btns-wrp {
    width: 100% !important;
    margin-top: 0rem !important;
  }
  .page-btns-wrp > a {
    font-size: 0.75rem !important;
  }
  .shuffle {
    scale: 0.65;
    position: relative;
    bottom: 1rem;
  }

  .inner-footer > div {
    gap: 10rem !important;
  }

  svg[data-name="facebook"],
  svg[data-name="instagram"] {
    display: none;
  }

}


@media (max-width: 680px) {

.navbar-ul > a > li {
  padding: 0.85rem 0.2rem;
}

  .filter-selector {
    flex-direction: column;
    left: -20rem;
    top: -0.5rem;
    background-color: #fff;
  }
  .filter-section {
    direction: rtl;
    right: 8vw;
  }
  .tooltip {
    display: none;
  }

  .sticky-accordion-wrp {
    background-color: #888;
  }

  .v-accordion {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    padding: 1rem 10vw !important;
  }
  .accordion-inner {
    padding-top: 2.5rem;
    margin-bottom: 3rem;
    background: maroon;
  }

  .rest-link > a > img {
    scale: 0.1;
    top: -5%;
  }

  .horizontal-scroll {
    padding-top: 5rem !important;
  }

  .horizontal-scroll-group {
    height: 96.5vh;
    width: 96.5vw;
  }

  .horizontal-scroll-title {
    font-size: 2rem;
  }

  .rest-card-content {
    font-weight: 500;
    top: 16.5rem;
    font-size: 1.15rem;
  }
  .horizontal-scroll-group > div > p {
    font-size: 2rem;
  }

  .hero-content {
    padding-top: 0.5rem !important;
  }

  .links-layout {
    padding-top: 5rem !important;
  }
  html[lang="he-IL"] .navbar-ul {
    max-width: 248.04px !important;
    min-width: 148.04px !important;
  }

  html[lang="en-US"] .navbar-ul {
    max-width: 248.04px !important;
    min-width: 248.04px !important;
    min-height: 3rem;
    max-height: 2.7rem;
  }
  .navbar-ul {
    max-width: 260px !important;
    min-width: 150px !important;
  }

  .section-content-para {
    grid-auto-columns: repeat(12, minmax(0, 1fr)) !important;
  }

  html[lang="en-US"] .section-content {
    column-gap: 0rem !important;
    row-gap: 3rem !important;
  }

  #thaiislands {
    position: static;
    padding-top: 2.5rem;
    font-size: 3rem !important;
  }
  .about-nav {
    right: 1.5rem;
  }
  
  .shuffle {
    display: none;
  }

  .about-us {
    margin-top: 3rem;
  }
  .about-us > p {
    margin-top: 1.5rem !important;
    margin-bottom: 7.5rem !important;
    padding: 0 1rem;
  }

  .about-us-title {
    margin-top: 0rem;
    font-size: 1.25rem !important;
    line-height: 40px;
    padding: 0 1rem;
  }
  .page-btns-wrp {
    width: 100% !important;
  }

  .page-btn {
    font-size: 0.75rem;
  }

  .hover-the-map-txt > h3 {
    font-size: 2.65rem !important;
    margin-top: -7.5rem;
  }
  /* .social {
    padding-top: 0.5rem;
    margin-left: 0 !important;
    gap: 0.25rem !important;
    height: fit-content;
  } */
  .links-wrapper {
    top: 3rem;
  }
  .navbar-ul {
    gap: 0 !important;
  }
  /* .inner-navbar {
    margin: 0 1.35rem;
    gap: 0.25rem;
  } */
  html[lang="en-US"] .navbar-ul > a > li {
    padding: 0 0.415em;
    font-size: 0.7rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html[lang="he-IL"] .navbar-ul > a > li {
    padding: 0 0.5rem;
    font-size: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  /* .lang {
    top: 0.15rem;
    margin-right: 0;
  }
  .lang:focus {
    outline: none;
  }
  html[lang="en-US"] .lang {
    margin-right: 0.25rem !important;
  }
  html[lang="he-IL"] .lang {
    margin-right: 0 !important;
  } */
  .affiliates-row {
    flex-direction: column;
  }
  .affiliates-row {
    margin: 0;
  }
  .vacation-gallery-wrapper {
    margin-right: 1.25rem;
  }
  .vacation-gallery {
    padding-top: 3rem;
    padding-bottom: 0rem;
    font-size: 2.25rem;
  }
  .gallery-img {
    scale: 0.95;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .tilt-wrapper {
    margin: 0 1rem 4rem 1rem;
  }
  .dot {
    bottom: -1rem;
  }
  svg.svg-logo-loader {
    width: 275px !important;
    left: calc(50% - 130px);
  }
  .main-header {
    font-size: 2rem;
    line-height: 2.65rem;
  }
  .not-map {
    height: 100vh !important;
  }
  .hero-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .button-lightning {
    font-size: 1.75rem;
    position: absolute;
    bottom: 5rem;
  }
  html[lang="en-US"] .button-lightning,
  html[lang="he-IL"] .button-lightning {
    /* padding-top: 2.5rem;
    top: 10rem; */
    scale: 1.2;
    position: absolute;
    top: 80vh;
  }
  .hover-the-map-txt {
    margin-bottom: 3rem;
    font-size: 2.25rem !important;
  }
  .section-content {
    gap: 2rem !important;
  }
  .quote {
    font-size: 2.5rem;
  }
  .section-content {
    padding-top: 0rem !important;
    padding-bottom: 2rem;
  }
  .section-content-para-1,
  .section-content-para-2 {
    font-size: 1.25rem !important;
  }

  .screen-fix-txt > span {
    bottom: -20px !important;
  }
  .magnetic-main > .screen-fix-txt {
    top: -1.5rem;
  }
  .hotels-title {
    font-size: 2rem;
    padding-top: 1.5rem;
  }
  .region-title {
    font-size: 1.25rem;
    text-align: center;
    top: 6.15rem;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    padding-bottom: 1.15rem;
  }
  /* .decleration-wrapper {
    height: 25rem;
    display: none;
  }
  .decleration {
    font-size: 1.5rem !important;
    padding: 0 1rem;
  }
  .decleration span {
    font-size: 3.5rem;
  } */
  /* .blink-emoji {
    display: none;
  } */
  html[lang="en-US"] .social-title {
    font-size: 2rem;
  }
  html[lang="he-IL"] .social-title {
    font-size: 2rem;
  }
  /* .social {
    padding-top: 0;
    height: fit-content;
  } */
  svg[data-name="facebook"],
  svg[data-name="instagram"] {
    display: none;
    display: flex;
  }
  .magnetic-container {
    scale: 1;
  }
  .magnetic-container {
    gap: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 1.75rem;
  }
  .magnetic-container > a > svg {
    height: 50px;
  }
  #media {
    margin-top: -2.5rem;
  }
  .footer > div > div > div > div > div {
    gap: 1rem;
    justify-content: flex-start;
  }

  .slide-in-header {
    font-size: 3rem;
  }

  .credits {
    flex-direction: column;
    margin-top: 3.5rem !important;
    margin-bottom: 4.5rem;
    gap: 0rem !important;
  }
  .created-by {
    width: fit-content;
    justify-content: flex-start;
    max-height: 0.5rem;
    width: 85vw;
  }
  .rights-reserved {
    width: 100%;
    line-height: 10px;
  }

  .inner-footer {
    z-index: 10;
  }
  .inner-footer > div {
    gap: 1rem !important;
  }

  .fit-txt-carousal {
    /* bottom: -35rem !important;
    margin-top: -20rem !important; */
  }
  .fix-txt-socials {
    /* margin-top: -15rem !important; */
  }
}

@media (max-width: 420px) {
  .affiliates-row {
    margin: 0 0rem;
  }
}

/* @media not all and (min-height: 899px) and (min-resolution:.1dpi) {

  .safari-only {
    color: #0000ff;
    border-color: #cccccc;
    --webkit-padding-after: 1.7rem;
  }
  .main-header  {
    background: red;
  }
} */

/* chrom and safari (any version) */

/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  .main-header  {
    background: blue;
  }
} */

/* safari something */

/* @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
  @media screen {
    .main-header  {
      background: green;
    }
  }
} */

/* safari (7.1+) */

/* _::-webkit-full-page-media, _:future, :root .safari_only {
  background-color: #000;
  
} */

/* safari (10.1+) */

/* @media not all and (max-width: 680px) and (min-resolution:.001dpcm) {
  @media screen {
    .main-header  {
      background: purple;
    }
  }
} */









/* 
@media (max-width: 680px) {

  .social {
    margin-left: 0 !important;
    gap: 0rem !important;
  }
  .links-wrapper {
    top: 3rem;
  }
  .navbar-ul {
    gap: 0 !important;
  }
  .inner-navbar {
    margin: 0 1.35rem;
  }
  html[lang="en-US"] .navbar-ul > a > li {
    padding: 0.415em;
    font-size: 0.7rem;
  }
  html[lang="he-IL"] .navbar-ul > a > li {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .lang {
    top: 0.15rem;
  }
  html[lang="en-US"] .lang {
    margin-right: 0.25rem !important;
  }
  html[lang="he-IL"] .lang {
    margin-right: 0 !important;
  }
  .affiliates-row {
    flex-direction: column;
  }
  .affiliates-row {
    margin: 0;
  }
  .vacation-gallery-wrapper {
    padding-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    scale: 1.35;
  }
  .vacation-gallery {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
  }
  svg.svg-logo-loader {
    width: 275px !important;
    left: calc(50% - 130px);
  }
  .main-header {
    font-size: 2.5rem;
    line-height: 2.65rem;
  }
  .hero-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .button-lightning {
    font-size: 2.25rem;
  }
  html[lang="he-IL"] .button-lightning {
    padding-top: 9.5rem;
  }
  .section-content {
    gap: 2rem !important;
  }
  .quote {
    font-size: 2.5rem;
  }
  .section-content {
    padding-top: 0rem !important;
    padding-bottom: 2rem;
  }
  .section-content-para-1,
  .section-content-para-2 {
    font-size: 1.25rem !important;
  }
  .screen-fix-txt {
    top: 28.5rem;
  }
  .magnetic-main > .screen-fix-txt {
    top: -1.5rem;
  }
  .hotels-title {
    font-size: 2rem;
    padding-top: 1.5rem;
  }
  .region-title {
    font-size: 1.25rem;
    text-align: center;
    top: 6.15rem;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    padding-bottom: 1.15rem;
  }
  .decleration-wrapper {
    height: 10rem;
  }
  .decleration {
    font-size: 1.5rem !important;
    padding: 0 1rem;
  }
  .decleration span {
    font-size: 3.5rem;
  }
  .blink-emoji {
    display: none;
  }
  html[lang="en-US"] .social-title {
    font-size: 2rem;
  }
  html[lang="he-IL"] .social-title {
    font-size: 2rem;
  }
  .magnetic-container {
    gap: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 1.75rem;
  }
  .magnetic-container > a > svg {
    height: 50px;
  }
  #media {
    margin-top: -2.5rem;
  }
  .footer > div > div > div > div > div {
    gap: 1rem;
  }
} */